// locatie percelen grid
.dgrid.percelenGrid {
  .dgrid-column-afdeling { width: 150px; }
  .dgrid-column-sectie { width: 50px; }
  .dgrid-column-capakey { width: 150px;}
  .dgrid-column-remove {
    width: 25px;
    text-align: right;
  }
  .dgrid-column-afdeling p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 14px;
  }
}

.locatie-percelen {
  height: 100%;
  overflow-y: auto;

  input:invalid {
    border: 5px solid #ff1217;
  }

  h4 {
    margin: 0;
  }

  hr {
    margin: 0.5rem 0;
  }
}

.refadres-dialog {
  width: 550px;
  min-height: 100px;

  .buttons {
    margin-top: 15px;
  }

  label {
    width: 180px;
  }
  .placeholder-container.placeholder-checkbox-sm.placeholder-disabled {
    .placeholder-checkbox-label-sm {
      cursor: default;
    }
  }
}