/* line 2, ../scss/clipboardMixin.scss */
.clipBoardButton {
  float: right;
  padding: 8px !important;
  margin: 0;
}

/* line 3, ../scss/locatiePercelen.scss */
.dgrid.percelenGrid .dgrid-column-afdeling {
  width: 150px;
}
/* line 4, ../scss/locatiePercelen.scss */
.dgrid.percelenGrid .dgrid-column-sectie {
  width: 50px;
}
/* line 5, ../scss/locatiePercelen.scss */
.dgrid.percelenGrid .dgrid-column-capakey {
  width: 150px;
}
/* line 6, ../scss/locatiePercelen.scss */
.dgrid.percelenGrid .dgrid-column-remove {
  width: 25px;
  text-align: right;
}
/* line 10, ../scss/locatiePercelen.scss */
.dgrid.percelenGrid .dgrid-column-afdeling p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 14px;
}
