<div class="dijitDialog" role="dialog" aria-labelledby="auteurDialog_title">
  <div data-dojo-attach-point="titleBar" class="dijitDialogTitleBar">
    <span data-dojo-attach-point="titleNode" class="dijitDialogTitle" role="heading"></span>
		<span data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon"
          data-dojo-attach-event="ondijitclick: onCancel" title="Annuleren" role="button" tabIndex="-1">
			<span data-dojo-attach-point="closeText" class="closeText" title="Annuleren" tabIndex="-1">
        <i class="fa fa-times"></i></span>
		</span>
  </div>

  <div data-dojo-attach-point="containerNode" class="dijitDialogPaneContent">
    <div class="row">
      <div class="large-6 columns">
        <h4><strong>Vergunningsplichtige ingrepen</strong></h4>
        <h5>Vooronderzoek</h5>
        <ul>
          <li><a href="#" target="_blank" data-dojo-attach-point="toelatingen_vo_vi">Toelatingen vooronderzoek</a></li>
          <li><a href="#" target="_blank" data-dojo-attach-point="meldingen_aanvang_vo_vi">Meldingen aanvang vooronderzoek</a></li>
          <li><a href="#" target="_blank" data-dojo-attach-point="arch_notas_vi">Archeologienota's</a></li>
          <li><a href="#" target="_blank" data-dojo-attach-point="notas_vi">Nota's</a></li>
        </ul>
        <h4>Opgraving</h4>
        <ul>
          <li><a href="#" target="_blank" data-dojo-attach-point="meldingen_aanvang_opgr_vi">Meldingen aanvang opgraving</a></li>
          <li><a href="#" target="_blank" data-dojo-attach-point="rapporten_opgr_vi">Archeologierapporten</a></li>
          <li><a href="#" target="_blank" data-dojo-attach-point="eindverslagen_vi">Eindverslagen</a></li>
        </ul>
      </div>
      <div class="large-6 columns">
        <h4><strong>Wetenschappelijke vraagstelling</strong></h4>
        <h5>Vooronderzoek</h5>
        <ul>
          <li><a href="#" target="_blank" data-dojo-attach-point="toelatingen_vo_wv">Toelatingen</a></li>
          <li><a href="#" target="_blank" data-dojo-attach-point="meldingen_aanvang_vo_wv">Meldingen aanvang vooronderzoek</a></li>
          <li><a href="#" target="_blank" data-dojo-attach-point="rapporten_vo_wv">Archeologierapporten</a></li>
          <li><a href="#" target="_blank" data-dojo-attach-point="eindverslagen_vo_wv">Eindverslagen</a></li>
        </ul>
        <h4>Opgraving</h4>
        <ul>
          <li><a href="#" target="_blank" data-dojo-attach-point="toelatingen_opgr_wv">Toelatingen</a></li>
          <li><a href="#" target="_blank" data-dojo-attach-point="meldingen_aanvang_opgr_wv">Meldingen aanvang opgraving</a></li>
          <li><a href="#" target="_blank" data-dojo-attach-point="rapporten_opgr_wv">Archeologierapporten</a></li>
          <li><a href="#" target="_blank" data-dojo-attach-point="eindverslagen_opgr_wv">Eindverslagen</a></li>
        </ul>
      </div>
      <div class="large-6 columns end hide" data-dojo-attach-point="procesapplicaties">
        <h4><strong>Procesapplicaties</strong></h4>
        <ul>
          <li><a href="#" target="_blank" data-dojo-attach-point="proces_archnotas">Proces archeologienota's</a></li>
          <li><a href="#" target="_blank" data-dojo-attach-point="proces_notas">Proces nota's</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>